:root {
  --header-color: #212121;
  --main-title-color: #ffffff;
  --btn-color: #ffffff;
  --second-title-color: #212121;
  --accent-color: #2196f3;
  --accent-dark-color: #09406e;
  --color-dark: #212121;
}
.bg-dark {
  background-color: var(--color-dark);
}
.color-black {
  color: var(--color-dark);
}
.color-white {
  color: #ffffff;
}
.color-blue {
  color: var(--accent-color);
}
.m-0 {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/*------------header--------------*/
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: var(--accent-dark-color);
}

.hero-btn {
  background-color: var(--accent-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*----------hero-------------*/
.section-top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*----------section------*/

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*---------about--------*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-title {
  ont-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}
button:hover {
  background-color: var(--accent-color);
  color: white;
}
